<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<!-- Note: for localization support of menu items "client-menu" has to be removed here -->
<menu id="client-menu">
  <item label="Minimize">
    <action name="Iconify" />
  </item>
  <item label="Maximize">
    <action name="ToggleMaximize" />
  </item>
  <item label="Fullscreen">
    <action name="ToggleFullscreen" />
  </item>
  <item label="Roll Up/Down">
    <action name="ToggleShade" />
  </item>
  <item label="Decorations">
    <action name="ToggleDecorations" />
  </item>
  <item label="Always on Top">
    <action name="ToggleAlwaysOnTop" />
  </item>
  <!--
    Any menu with the id "workspaces" will be hidden
    if there is only a single workspace available.
  -->
  <menu id="workspaces" label="Workspace">
    <item label="Move Left">
      <action name="SendToDesktop" to="left" />
    </item>
    <item label="Move Right">
      <action name="SendToDesktop" to="right" />
    </item>
    <separator />
    <item label="Always on Visible Workspace">
      <action name="ToggleOmnipresent" />
    </item>
  </menu>
  <!--
    openbox default workspace selector
    to use replace above workspace menu with the example below
    the label is required, but you can change the text.

    <menu id="client-send-to-menu" label="Send to..." />
  -->
  <item label="Close">
    <action name="Close" />
  </item>
</menu>

<menu id="root-menu">
  <!-- Make client-list-combined-menu a submenu of root-menu
       You must supply a label or it will not appear in root-menu -->
  <!--
  <menu id="client-list-combined-menu" label="Running..." />
  -->
  <item label="Web browser">
    <action name="Execute" command="firefox" />
  </item>
  <item label="Terminal">
    <action name="Execute" command="alacritty" />
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit">
    <action name="Exit" />
  </item>
  <item label="Poweroff">
    <action name="Execute" command="systemctl -i poweroff" />
  </item>
</menu>

<menu id="some-custom-menu">
		<item label="Terminal" icon="/usr/share/icons/gnome/24x24/apps/utilities-terminal.png" >
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="Thunar" icon="/usr/share/icons/gnome/24x24/apps/system-file-manager.png" >
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
				<item label="Web Browser" icon="/usr/share/icons/gnome/24x24/apps/web-browser.png" >
			<action name="Execute">
				<execute>firefox-esr</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<separator/>
		<menu icon="/usr/share/icons/gnome/24x24/categories/applications-accessories.png" id="root-menu-594711" label="Quick Grab">
			<menu execute="pipe-recent-files" icon="/usr/share/icons/gnome/24x24/places/folder.png" id="ID41" label="Recent Files"/>
			<menu icon="/usr/share/icons/gnome/24x24/places/folder.png" id="root-menu-594711-105346" label="Root Files">
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/etc">
					<action name="Execute">
						<execute>gksudo thunar /etc</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/etc/apt/sources.list">
					<action name="Execute">
						<execute>gksudo geany /etc/apt/sources.list</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/usr/share">
					<action name="Execute">
						<execute>gksudo thunar /usr/share</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/usr/share/fonts">
					<action name="Execute">
						<execute>gksudo thunar /usr/share/fonts</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/usr/share/icons">
					<action name="Execute">
						<execute>gksudo thunar /usr/share/icons</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/usr/share/themes">
					<action name="Execute">
						<execute>gksudo thunar /usr/share/themes</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/usr/bin">
					<action name="Execute">
						<execute>gksudo thunar /usr/bin</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/places/folder.png" label="/usr/local/bin">
					<action name="Execute">
						<execute>gksudo thunar /usr/local/bin</execute>
					</action>
				</item>
			</menu>
			<item icon="/usr/share/icons/gnome/24x24/apps/accessories-text-editor.png" label="Geany">
				<action name="Execute">
					<execute>geany</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" id="root-menu-721334" label="Toggles">
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Tint2 Panel Toggle">
				<action name="Execute">
					<execute>toggle.tint2</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Hotcorners">
				<action name="Execute">
					<execute>toggle.ld</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Theme Options">
					<action name="Execute">
						<execute>beardog-themer</execute>
					</action>
				</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Tint2 Options">
					<action name="Execute">
						<execute>tint2-options</execute>
					</action>
				</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Rofi Icons">
				<action name="Execute">
					<execute>rofi-options</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Mouse Finder">
				<action name="Execute">
					<execute>toggle-mouse-pointer</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Transparency">
				<action name="Execute">
					<execute>transparency-system</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="Random BG">
				<action name="Execute">
					<execute>toggle-wallpaper-random</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/gnome/24x24/actions/object-flip-horizontal.png" label="X-Kill">
				<action name="Execute">
					<execute>xkill</execute>
				</action>
			</item>
		</menu>
		<!--<separator/> -->
		<!-- <menu id="/Debian"/> -->
		<menu icon="/usr/share/icons/gnome/24x24/categories/preferences-other.png" id="root-menu-4985" label="Utilities">
			<item label="Gparted" icon="/usr/share/icons/gnome/24x24/categories/applications-other.png" >
				<action name="Execute">
					<execute>gksudo gparted</execute>
				</action>
			</item>
			<item label="Lx-Randr" icon="/usr/share/icons/gnome/24x24/categories/preferences-system-network.png">
				<action name="Execute">
					<execute>lxrandr</execute>
				</action>
			</item>
		<item label="Update Options" icon="/usr/share/icons/gnome/24x24/categories/applications-other.png">
				<action name="Execute">
					<execute>update-options</execute>
				</action>
			</item>
			<item label="Live USB Maker" icon="/usr/share/icons/gnome/24x24/categories/applications-other.png">
				<action name="Execute">
					<execute>x-terminal-emulator -T 'Live USB Maker' -e "sudo live-usb-maker-gui-antix"</execute>
				</action>
			</item>
			<item label="Kernel Remover" icon="/usr/share/icons/gnome/24x24/categories/applications-development.png" >
				<action name="Execute">
					<execute>kernel-remover</execute>
				</action>
			</item>
		<item label="Printer Setup" icon="/usr/share/icons/gnome/24x24/categories/preferences-other.png">
				<action name="Execute">
					<execute>x-terminal-emulator -T "Printer Setup" -e bash -c "printer-installer; read -srn1"</execute>
				</action>
		</item>
			<item label="Waydog Installers" icon="/usr/share/icons/gnome/24x24/categories/preferences-other.png">
				<action name="Execute">
					<execute>bd-utilities-main-installers</execute>
				</action>
		</item>
		</menu>
		<menu icon="/usr/share/icons/gnome/24x24/categories/preferences-system.png" id="root-menu-21510" label="Configuration">
				<item icon="/usr/share/icons/gnome/24x24/categories/preferences-desktop.png" label="Settings Manager">
					<action name="Execute">
						<execute>xfce4-settings-manager</execute>
					</action>
				</item>
				<item icon="/usr/share/pixmaps/obconf.png" label="Openbox Conf">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/categories/applications-science.png" label="Tint2 Conf">
					<action name="Execute">
						<execute>tint2conf</execute>
					</action>
				</item>
			    <item icon="/usr/share/icons/gnome/24x24/actions/document-properties.png" label="Picom Conf">
					<action name="Execute">
						<execute>geany ~/.config/picom.conf</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/categories/applications-accessories.png" label="Dmenu Apps Conf">
					<action name="Execute">
						<execute>geany ~/.config/dmenu/apps</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/gnome/24x24/categories/preferences-desktop.png" label="Ld-hotcorners Conf">
					<action name="Execute">
						<execute>geany ~/.config/ld-hotcorners/ld-hotcornersrc</execute>
					</action>
				</item>
			</menu>
		<separator/>
  <item  label="Reconfigure" icon="/usr/share/icons/gnome/24x24/emblems/emblem-synchronizing.png" >
    <action name="Reconfigure" />
  </item>
  <item label="Exit" icon="/usr/share/icons/gnome/24x24/actions/application-exit.png" >
 <action name="Execute">
						<execute>ld-logout</execute>
					</action>
  </item>
</menu>

</openbox_menu>
