[SddmGreeterTheme]
Name=Fane
Description=Fane Theme
Author=sleekmason
Copyright=(c) 2025
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=background.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=sleekmason@gmail.com
Theme-Id=fane
Theme-API=2.0
QtVersion=6
