[Desktop Entry]
Type=Application
Name=Conky
Exec=sh -c ~/.config/conky/scripts/conky-chooser
StartupNotify=false
Terminal=false
Icon=/usr/share/icons/hicolor/48x48/apps/conky-logomark-violet.png
Categories=System;Monitor;
