[Desktop Entry]
Type=Application
Name=Font Viewer
Exec=yad --font
StartupNotify=false
Terminal=false
Icon=/usr/share/icons/gnome/24x24/apps/accessories-character-map.png
Categories=System;Development;Utility;
