[Desktop Entry]
Type=Application
Name=Fuzzel BG Sync
Exec=toggle-fuzzel-background.sh
StartupNotify=false
Terminal=false
Icon=applications-graphics
Categories=ld-misc-tools;
