[Desktop Entry]
Type=Application
Name=GTK Theme Sync
Comment=GTK theme matcher
Exec=setsid -f gtk-theme-sync
StartupNotify=false
Terminal=false
Icon=preferences-desktop-theme
Categories=ld-misc-tools;
