#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-terminal-emulator -T 'Ghostty Installer' -e bash -c "ghostty-installer"
Name=Ghostty Installer
Icon=terminal
Terminal=true
GenericName=Ghostty Installer
Categories=ld-misc-tools;
Keywords=installer;
Comment=Ghostty Installer
