[Desktop Entry]
Type=Application
Name=GTK Theme Sync
Comment=GTK theme matcher
Exec=gtk-theme-sync
StartupNotify=false
Terminal=false
Icon=utilities-terminal
Categories=ld-misc-tools;
