[Desktop Entry]
Type=Application
Name=Waydog Installers
Exec=waydog-installers
StartupNotify=false
Terminal=false
Icon=/usr/share/icons/gnome/24x24/apps/system-software-install.png
Categories=ld-misc-tools;
