[Desktop Entry]
Type=Application
Name=Kernel Remover
Exec=x-terminal-emulator -T 'Kernel Remover' -e bash -c "sudo kernel-remover; echo $'Press any key to close'; read -srn1"
StartupNotify=false
Terminal=false
Icon=applications-engineering
Categories=ld-misc-tools;
