#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-terminal-emulator -T 'Ly Dispay Manager Installer' -e bash -c "ly-installer; echo $'Press any key to close'; read -srn1"
Name=Ly Login Installer
Icon=applications-system
Terminal=true
GenericName=Ly display manager installer
Categories=ld-misc-tools;
Keywords=wallpapers;
Comment=Ly display manager installer
