[Desktop Entry]
Type=Application
Name=Mako BG Sync
Exec=toggle-mako-background.sh
StartupNotify=false
Terminal=false
Icon=applications-graphics
Categories=ld-misc-tools;
