[Desktop Entry]
Type=Application
Name=Nano Installer
Exec=nano-installer
StartupNotify=false
Terminal=true
Icon=utilities-terminal
Categories=ld-misc-tools;
