#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=printer-installer
Name=Printer Installer
Icon=printer
Terminal=true
GenericName=Printer installer
Categories=ld-misc-tools;
Keywords=system;
Comment=Printer installer
