[Desktop Entry]
Type=Application
Name=Random BG Daemon
Exec=toggle-random
StartupNotify=false
Terminal=false
Icon=preferences-desktop-wallpaper
Categories=ld-misc-tools;
