#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sddm-installer
Name=SDDM Login Installer
Icon=applications-system
Terminal=true
GenericName=SDDM display manager installer
Categories=ld-misc-tools;
Keywords=wallpapers;
Comment=SDDM display manager installer
