#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=waypaper-sddm
Name=SDDM Login BG
Icon=waypaper
Terminal=false
GenericName=SDDM login background
Categories=ld-misc-tools;
Keywords=wallpapers;
Comment=Change wallpaper on Wayland and X11
