[Desktop Entry]
Type=Application
Name=Sexy Bash Prompt
Exec=toggle.sexy
StartupNotify=false
Terminal=false
Icon=/usr/share/icons/gnome/24x24/apps/utilities-system-monitor.png
Categories=ld-misc-tools;
