[Desktop Entry]
Type=Application
Name=Terminal Sync
Comment=Terminal color sync
Exec=toggle-terminal-color
StartupNotify=false
Terminal=false
Icon=utilities-terminal
Categories=ld-misc-tools;
