[Desktop Entry]
Type=Application
Name=Upgrade Checker
Exec=tint2-apt-update-check
StartupNotify=false
Terminal=false
Icon=system-software-update
Categories=ld-upgrade-tools;
