[Desktop Entry]
Type=Application
Name=Waybar Icons
Exec=waybar-icon-toggle dialog
StartupNotify=false
Terminal=false
Icon=applications-other
Categories=ld-misc-tools;
