#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-terminal-emulator -T 'Wine Installer' -e bash -c "wine-installer; echo $'Press any key to close'; read -srn1"
Name=Wine Installer
Icon=applications-system
Terminal=true
GenericName=Wine installer
Categories=ld-misc-tools;
Keywords=system;
Comment=Wine installer
