[Desktop Entry]
Type=Application
Name=Zram/Zswap
Exec=zram-zswap-toggle
StartupNotify=false
Terminal=false
Icon=drive-harddisk
Categories=ld-misc-tools;
